<form [formGroup]="signUpForm" style="max-width: 500px; margin: auto">
  <h2>Register Form</h2>
  <div class="input-container">
    <i class="fa fa-user icon"></i>
    <input
      class="input-field"
      type="text"
      placeholder="Username"
      formControlName="name"
    />
  </div>

  <div class="input-container">
    <i class="fa fa-envelope icon"></i>
    <input
      class="input-field"
      type="text"
      placeholder="Email"
      formControlName="email"
    />
  </div>

  <div class="input-container">
    <i class="fa fa-key icon"></i>
    <input
      class="input-field"
      type="password"
      placeholder="Password"
      formControlName="password"
    />
  </div>

  <button type="submit" class="btn">Register</button>
</form>
<form [formGroup]="logInForm" style="max-width: 500px; margin: auto">
  <h2>Login Form</h2>

  <div class="input-container">
    <i class="fa fa-envelope icon"></i>
    <input
      class="input-field"
      type="text"
      placeholder="Email"
      formControlName="email"
    />
  </div>

  <div class="input-container">
    <i class="fa fa-key icon"></i>
    <input
      class="input-field"
      type="password"
      placeholder="Password"
      formControlName="password"
    />
  </div>

  <button type="submit" class="btn">Login</button>
</form>
